{% extends "base.html" %}
{% block title %}
About Us
{% endblock %}

{%block content %}
<main>
  <div style="background-image: url('../static/assets/img/Testimonial-bg.jpg'); background-position: top 80%; background-size: cover; width: 100%; height: 150px;">
    <h1 class="position-absolute ml-2" style="margin-top: 50px; color:white; margin-left: 120px;">About Us</h1>
  </div>
  <div class="container d-flex flex-column m-auto m-5 p-5">
      <h2 class="text-center ">Academia-Industry Collaboration</h2>
      <img src="../static/assets/img/Collaboration Partners-bg.png" class="m-4" alt="">
  </div>
</main>
{%endblock %}