{% extends "base.html" %}
{% block title %}
Centre for Computer Networking and Cyber Security
{% endblock %}

{%block content %}
<main>
  <div style="background-image: url('../static/assets/img/Testimonial-bg.jpg'); background-position: top 80%; background-size: cover; width: 100%; height: 150px;">
    <h1 class="position-absolute ml-2" style="margin-top: 50px; color:white; margin-left: 120px;">Research</h1>
  </div>
  <div class="container d-flex flex-column m-auto m-5 p-5">
    <h2 class=' text-center'>Centre for Computer Networking and Cyber Security (CCNCS)</h2>
    <div class="cell-md-12">
      <div class="list-order">
        <h5 class="text-center"></h5>
        <p class="lead text-center">Led by Dr Wong Thein Lai</p>
        <p><!-- Feature --></p>
        <p></p>
        <p><!-- <div class="jumbotron feature">--></p>
        <p><img src="../static/assets/img/reseach11.jpg" width="150" height="225"
            caption="false" style="display: block; margin-left: auto; margin-right: auto;" /></p>
       
        <p><!-- Heading --></p>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <p></p>
              <h4 class="text-center">Introduction</h4>
              <p class="lead text-center"><span>Centre for Computer Networking and Cyber Security aspires to be a network
                  infrastructure design support and consultancy service provider, a catalyst for leading-edge research
                  activities related to computer networking and cyber security and a contributor to community awareness and
                  education on cyber security.</span></p>
              <p></p>
              <h4 class="text-center">What we do ?</h4>
              <ul>
                <li>Catalyse computer networking and cyber security related research activities and encourage innovations
                  and creativity among students and lecturers, ultimately to explore new ideas and research, and to nurture
                  researchers in the field of computer networking and cyber security.</li>
                <li>Conduct trainings and workshops for professional development in the field of computer networking and
                  cyber security.</li>
                <li>Mentor students in the national or international competitions in the field of computer networking and
                  cyber security.</li>
                <li>Bring students and/or lecturers closer to the industry by working closely with the industry to provide
                  real-life industrial exposure and research opportunities.</li>
                <li>Promote awareness on cyber security for various communities through partnerships with private sectors.
                </li>
                <li>Provide network infrastructure design and setup support or consultancy for third parties (in-house or
                  industry projects, other IHLs, etc).</li>
              </ul>
              <p></p>
              <h4 class="text-center">What we aim for ?</h4>
              <p class="lead text-center"><span>This centre aims to create a platform for students and lecturers to do
                  research and consultancy work in the area of computer networking and cyber security, and to create
                  interest and provide relevant industrial skills related to computer networking and cyber security among
                  students.</span></p>
            </div>
          </div>
        </div>
        <p><!-- /.container-fluid --></p>
        <div class="container"><!-- Heading -->
          <div class="row">
            <div class="col-lg-12">
              <h4 class="page-header">Research Group&nbsp;-&nbsp;<small style="color: black;">Laboratory B223, B224, B225,
                  B227 and B228, Block B, TAR UMT Main campus</small></h4>
            </div>
          </div>
          <!-- /.row --> <!-- Projects Row -->
          <div class="row">
            <div class="col-md-6 portfolio-item h-100"><a href="#"> <img class="p-2"
                  src="https://www.tarc.edu.my/files/focs/15B9AAE3-AFD7-49B9-A8C5-190A71A5E973.jpg" caption="false"
                  style="width: 500px; height: 300px; object-fit: cover;" /> </a>
              <h5 class="text-center"><a href="#"><span>Computer Networking Group</span></a></h5>
              <p align="justify">Led by Ts Chok Len Mooi</p>
              <p align="justify"><img src="../static/assets/img/reseach12.jpg"
                  alt="" width="100" height="131" /></p>
              <p align="justify"><span>This research group aims to create a platform for students and lecturers to do
                  research and consultancy work in the area of computer networking, create interest and provide relevant
                  industrial skills related to computer networking among students.</span></p>
            </div>
            <div class="col-md-6 portfolio-item h-100"><a href="#"> <img class="p-2"
                  src="https://www.tarc.edu.my/files/focs/A9EE3B02-9419-4D92-B473-60FE65BA5A96.jpg" caption="false"
                  style="width: 500px; height: 300px; object-fit: cover;"  /> </a>
              <h5 class="text-center"><a href="#"><span>Cyber Security Group</span></a></h5>
              <p align="justify">Led by Ts Lim Shen Huoy</p>
              <p align="justify"><img src="../static/assets/img/reseach13.jpg"
                  alt="" width="100" height="129" /></p>
              <p align="justify"><span>This research group aims to create a platform for students and lecturers to do
                  research and consultancy work in the area of cyber security, create interest and provide relevant
                  industrial skills related to cyber security among students.</span></p>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <h4 class="page-header">Achievement in the past</h4>
                &bull;&nbsp;Designed and implemented an industry grade research network infrastructure to provide support
                for Smart Campus and Industry 4.0 applications, and various industrial projects development.<br />&bull;
                Received internal grant to conduct research for secure data sharing framework for industry 4.0.<br />&bull;
                Conducted Hyperledger Blockchain workshop for students to expose students with blockchain
                technology.<br />&bull; Provided train-the-trainer workshops to academics by TAR UMT lecturers who are the
                CISCO Instructor Trainer Qualified.<br />&bull; Trained students for computer networking related
                competitions and achieve outstanding achievement<br />&bull; TAR UMT Internal grant in the area of
                information hiding from June 2017 to May 2019.<br />&bull; Prepared students to go for CISCO Certified
                Network Associate (CCNA) and CompTia Security+ professional certifications before graduation.
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <h4 class="page-header">Projects/Research Activities -&nbsp;<small>Recent Work</small></h4>
              </div>
            </div>
            <!-- Projects Row -->
            <div class="container-fluid"><!-- Project One -->
              <div class="row">
                <div class="col-md-4"><a href="#"> <img class="img-fluid rounded mb-3 mb-md-0"
                      src="https://www.tarc.edu.my/files/focs/B6F3D440-A795-48ED-9199-0C0D7BFE24E6.jpg" caption="false"
                      width="800" height="600" /> </a></div>
                <div class="col-md-8">
                  <h5>Design and setup of TAR UMT research network infrastructure</h5>
                  <p align="justify">Under this project, Computer Networking Group is designing and implementing an industry
                    grade research network infrastructure that interconnects various research facilities in the main campus
                    and branches to provide support for Smart Campus and Industry 4.0 applications, various industrial
                    projects development. With the setup of this infrastrcture, students and researchers are given the
                    opportunity to participate in these initiatives which will provide them valuable hands-on experience and
                    make their learning experience a truly holistic education.</p>
                </div>
              </div>
              <!-- /.row -->
              <hr /><!-- Project Two -->
              <div class="row">
                <div class="col-md-4"><a href="#"> <img class="img-fluid rounded mb-3 mb-md-0"
                      src="https://www.tarc.edu.my/files/focs/8B48DBA9-4D51-451E-A07E-AA41EC1FA96D.JPG" caption="false"
                      width="952" height="579" /> </a></div>
                <div class="col-md-8">
                  <h5>Secure data sharing framework for Industry 4.0</h5>
                  <p align="justify">Industry 4.0 is focusing on the digital vertical integration of the manufacturing
                    industry. However, the management of data across different verticals (horizontal integration) is also
                    important in order to unleash the value of data held by companies for data economy. To enable secure
                    data sharing, designing and constructing an infrastructure for secure data exchange is imperative. This
                    project involves designing and constructing a framework that allows secure and trusted data sharing
                    while ensuring data interoperability and maintaining data sovereignty for data owners.</p>
                  <p align="justify"></p>
                  <p align="justify"></p>
                </div>
              </div>
              <!-- /.row -->
              <hr /><!-- Project Three -->
              <div class="row">
                <div class="col-md-4"><a href="#"> <img class="img-fluid rounded mb-3 mb-md-0"
                      src="https://www.tarc.edu.my/files/focs/DF160687-2219-481C-9DBF-87D6D478F615.jpeg" caption="false"
                      width="952" height="579" /> </a></div>
                <div class="col-md-8">
                  <h5>QoE-aware application mapping and energy-aware module placement in fog computing</h5>
                  <p align="justify">Fog computing is one of the vital and potential solutions for Internet of Things in
                    close connection with things and end users. Due to the heterogeneous and distributed characteristics,
                    finely distribute the task with computation offloading is a challenging task. Besides, developing an
                    efficient QoE-aware application mapping policy is also challenging due to the different user interests.
                    Other than that, the energy consumption would usually increase after such algorithm and policy are
                    implemented. This research aims to propose a solution which is able to improve the performance in terms
                    of execution time and network usage as well as keeping the energy consumption at an optimal level.</p>
                  <p align="justify"></p>
                  <p align="justify"></p>
                </div>
              </div>
              <!-- /.row -->
              <hr /><!-- Project Four -->
              <div class="row">
                <div class="col-md-4"><a href="#"> <img class="img-fluid rounded mb-3 mb-md-0"
                      src="https://www.tarc.edu.my/files/focs/6603B796-4639-4B24-8289-732ED6133FF7.jpeg" caption="false"
                      width="952" height="579" /> </a></div>
                <div class="col-md-8">
                  <h5>LoRa-based IoT system for plantation monitoring</h5>
                  <p align="justify">The scope of the LoRa project is to transmit data collected by sensors in a plantation
                    and transmits the data to the cloud. This project uses a node with a soil moisture sensor, temperature
                    sensor, humidity sensor and a Night Vision Pi Camera that collect data directly from a plant, and then
                    transmit the sensor data to the LoRa gateway which can convert the data to a readable format and further
                    transmit the data to a cloud. Other IOT devices used include Raspberry Pi 4B, IoT Lora Raspberry PHat
                    and LoRa gateway. The system provides a user-friendly GUI to alter the value of the threshold for each
                    of the sensor (e.g. max/min of temperature) and allows to update the time interval for every sensor on
                    any platform whenever connected to the Internet. The GUI provides visualization for the user, and allows
                    the user to view the notification or warning if the threshold is met. With this information, the
                    plantation owner can have firsthand information about their crops and make the right decision for their
                    crops.</p>
                  <p align="justify"></p>
                  <hr />
                </div>
              </div>
              <div class="col-md-8">
                <h5></h5>
                <h5 style="text-align: left;"><span style="color: #0000ff;">Environmental Sustainability Publications</span>
                </h5>
                <p>1. LOW CHOON KEAT.&nbsp;QoE-Aware Application Mapping and Energy-Aware Module Placement in Fog Computing
                  + Offloading. SDG7,11,13</p>
              </div>
            </div>
          </div>
          <p></p>
          <h4 class="text-center">Contact</h4>
          <p class="lead text-center"><span>For reasearch collaborations/consultation requests, please contact
              wongtl@tarc.edu.my.</span></p>
        </div>
      </div>
    </div>
  </div>
</main>
{%endblock %}