{% extends "base.html" %}
{% block title %}
Centre for Integrated Circuit Research and Development
{% endblock %}

{%block content %}
<main>
  <div style="background-image: url('../static/assets/img/Testimonial-bg.jpg'); background-position: top 80%; background-size: cover; width: 100%; height: 150px;">
    <h1 class="position-absolute ml-2" style="margin-top: 50px; color:white; margin-left: 120px;">Research</h1>
  </div>
  <div class="container d-flex flex-column m-auto m-5 p-5">
    <h2 class=' text-center'>Centre for Integrated Circuit Research and Development (CICR&D)</h2>
    <div class="cell-md-12">
      <div class="list-order">
        <h4 style="text-align: center;"><img
            src="../static/assets/img/why-us.png" alt="" width="125"
            height="163" /></h4>
        <p style="text-align: center;">Led by Dr. Poh Tze Ven</p>
        <h4 style="text-align: center;"><strong>What is an integrated circuit (IC)?</strong></h4>
        <p style="text-align: justify;">Integrated circuit (IC) is an assembly of electronics components miniaturised and
          fabricated onto a thin subtract of semiconductor material (typically silicon). Such miniaturisation permits
          billions of microscopic circuit components to be packed into a few centimetres squares space, or smaller, allowing
          the creation of complex systems in a practical and economical way, such as computers or processors. Without
          processors, we will not have Artificial Intelligence (AI), smart devices, the Internet, and many others. They are
          the heart and the brains. So smart <em>things</em> start with hardware integrated circuits.</p>
        <p style="text-align: justify;"><strong>What we do</strong></p>
        <p style="text-align: justify;">To explore and research algorithms for solving real-world problems related to IC
          design and verifications, and to use integrated circuits such as FPGA and microcontrollers to create intelligent
          solutions.</p>
        <p style="text-align: justify;"><strong>What we aim for</strong></p>
        <p style="text-align: justify;">To explore opportunities and apply our knowledge to solve and provide innovative
          solutions to problems related to Electronic Design Automation (EDA) tools, which are used for designing and
          verifying complex IC. We also aim to support campus initiatives to create innovative smart systems for solving
          problems faced by TAR UMT.</p>
        <p style="text-align: justify;"><strong>Projects: Recent work</strong></p>
        <p style="text-align: justify;"><strong>LED & Driver with IoT Control for Agriculture 4.0</strong></p>
        <p style="text-align: justify;">This is horticulture LED lighting systems for ginger farming on TAR UMT campus. It
          is to provide variable intensity artificial light for growing ginger plants for research purposes. The grow light
          systems are controlled and monitored using IoT devices developed in-house. This allows quick and easy access to
          data and remote control through PC or smartphones anywhere in the world as long as there is an Internet
          connection.&nbsp;</p>
        <p style="text-align: justify;"><strong>Development of an IoT network for Plant Soil Moisture and Temperature
            Monitoring with Irrigation Control.</strong></p>
        <p><strong><img src="https://www.tarc.edu.my/files/focs/E12A553A-B50F-451A-9A0C-3CEF1DB56A6C.png" alt="" width="500"
              height="176" style="display: block; margin-left: auto; margin-right: auto;" /></strong></p>
        <p style="text-align: justify;">This work is an IoT Project for a plant monitoring system in conjunction with
          Agriculture 4.0. Soil Moisture sensors and temperature sensors were attached to the plant. These sensors are
          connected to low power microcontrollers to form sensor nodes, possibly powered by solar panels and buffered by
          super-capacitors/ rechargeable batteries. The sensor nodes will communicate via wifi/ LoRA to the gateway or other
          central MCU nodes to communicate sensor readings to any device with internet/ network access. Irrigation control
          platform has been physically modelled using MCU, relays and moisture sensor readings to remotely/ automatically
          control whether or not to turn on the water pump. In future, the farmers may monitor and control their crops from
          anywhere.&nbsp;</p>
        <p style="text-align: justify;"><strong>Past achievements</strong></p>
        <p style="text-align: justify;">May 2018:&nbsp; Static Code Analysis of Python Code funded by Synopsys, Inc. through
          Malaysian registered company, Ascend Microsystems Sdn (RM 24,804 industrial grant).</p>
        <p style="text-align: justify;">May 2017: Project related to tiling in the Synopsys&rsquo; EDA funded by Synopsys,
          Inc. through Malaysian registered company, Ascend Microsystems Sdn (RM 313,200 industrial grant).</p>
        <p style="text-align: justify;"><strong>Selected Past Projects</strong></p>
        <p style="text-align: justify;">2019: Development of an IoT network for Plant Soil Moisture and Temperature
          Monitoring with Irrigation Control.</p>
        <p style="text-align: justify;">2018: Development of an FPGA based Object Tracking Robot: Tracking Algorithm for
          Object Tracking Robot.</p>
        <p style="text-align: justify;">2016: Image capture and processing of an FPGA real-time driver drowsiness detection
          system</p>
        <p style="text-align: justify;">2016: Image Acquisition and Iris Segmentation of an FPGA based Iris Recognition
          System for Security Augmentation.</p>
        <p style="text-align: justify;">2015: Flash programmer and Debug probe for ARM Cortex-M microcontrollers.</p>
        <p style="text-align: justify;">2015: ARM Cortex-M simulator with Floating Point instructions.</p>
        <p style="text-align: justify;">2015: GDB debugging server (backend) for debug probe and ARM simulator.</p>
        <p style="text-align: justify;">2012: FPGA-based Music Score Generator.</p>
      </div>
    </div>
  </div>
</main>
{%endblock %}