{% extends "base.html" %}
{% block title %}
CENTRE FOR ICT INNOVATIONS AND CREATIVITY
{% endblock %}

{%block content %}
<main>
  <div
    style="background-image: url('../static/assets/img/Testimonial-bg.jpg'); background-position: top 80%; background-size: cover; width: 100%; height: 150px;">
    <h1 class="position-absolute ml-2" style="margin-top: 50px; color:white; margin-left: 120px;">Research
    </h1>
  </div>
  <div class="container d-flex flex-column m-auto m-5 p-5">
    <h2 class=' text-center'>Centre for ICT Innovations and Creativity (CICTIC)</h2>
    <div class="cell-md-12">
      <div class="list-order">
        <p style="text-align: center;">
          <img src="../static/assets/img/why-us.png" alt="" width="200" height="260" /></p>
        <p style="text-align: center;"><strong>RC Lead: Ts. Ong Jia Hui</strong></p>
        <p style="text-align: left;">Location: FOCS Laboratories, Block B, TAR UMT Main Campus</p>
        <h4>i. Objectives</h4>
        <p>The objectives of the Centre are to:</p>
        <ul>
          <li style="text-align: justify;"><span>Build entrepreneurial culture among lecturers and students in
              research and development related to computing and technology, which ultimately lead to commercial
              viable digital innovations.</span></li>
          <li style="text-align: justify;"><span>Conduct computing and technology related research activities,
              trainings and workshops for professional or technopreneurial development.</span></li>
          <li style="text-align: justify;">Create entrepreneurship and commercialization platform to help
            promoting digital innovations and creativity of students and lecturers to the public.</li>
        </ul>
        <h4>ii. Vision Statement</h4>
        <p>To become an outstanding ICT Innovations and Creativity Centre by:</p>
        <ul>
          <li style="text-align: justify;">Organizing ICT activities to promote ICT Innovations and Creativity
            among lecturers and students.</li>
          <li style="text-align: justify;">Actively involved in research activities and industrial projects to
            address the businesses and global issues.</li>
          <li style="text-align: justify;">Creating innovative, useful and commercial viable ICT products.</li>
        </ul>
        <h4>iii. Rationale and Research Plan</h4>
        <p style="text-align: justify;">The use of digital technologies has become a norm nowadays. There is a
          need to do more research and development to create more innovative and creative digital technologies
          solutions to enhance the quality of every individual&rsquo;s life, increase business productivity and
          promote economic growth for every nation. There is also a need to produce more ICT and Computer Science
          talents as well as more technopreneurs to head towards digital nation and support the ICT ecosystems.
        </p>
        <p style="text-align: justify;">Research plan for Centre of ICT Innovations and Creativity is mainly to
          work with collaborative partners (IHLs or industry) to conduct further research and development in the
          area of computer science and ICT as listed below (not an exhaustive list):</p>
        <ul>
          <li>Software Development which includes web and mobile platforms</li>
          <li>Software Engineering</li>
          <li>Interactive Software</li>
          <li>Augmented Reality and Virtual Reality</li>
          <li>Game Development</li>
        </ul>
        <p style="text-align: justify;">To produce innovative, creative and commercial-viable
          products/technologies and to promote technopreneurship.</p>
        <h4>iv. Research Group</h4>
        <p>There are 4 research groups and 1 entrepreneurial support centre within CICTIC:</p>
        <table width="100%" class="table align-middle table-borderless">
          <tbody>
            <tr>
              <td>
                <h5><span>Digital Innovations and Platform Development Group</span></h5>
              </td>
              <td>
                <h5><span>Immersive Design and Interactive Software Development Group</span></h5>
              </td>
            </tr>
            <tr>
              <td>
                <p><img src="../static/assets/img/why-us.png" alt=""
                    width="109" height="141" /></p>
                <p><strong>Workgroup Leader: Dr. See Kwee Teck</strong></p>
                <p style="text-align: justify;">This research group aims to develop commercial viable or
                  innovative product/platform by tapping on the synergy of academia-industry collaboration; and to
                  provide the base or foundation for possible research work under relevant research
                  groups/centres.</p>
                <p>Aims:</p>
                <ul>
                  <li>Build commercial viable digital innovations</li>
                  <li>Conduct computing and technology related trainings for professional development</li>
                </ul>
                <p><strong><span>Focus Areas (Applications Development):</span></strong></p>
                <ol>
                  <li><span>Administration and Management Digitisation</span></li>
                  <li><span>Smart Community and Social Networking</span></li>
                  <li><span>Technologies for Finance and Business Operations</span></li>
                </ol>
              </td>
              <td>
                <p><img src="../static/assets/img/why-us.png" alt=""
                    width="109" height="141" /></p>
                <p><strong><span>Workgroup leader: Mr. Andrew Tan Khin Huat</span></strong></p>
                <p style="text-align: justify;"><span>This working group aims to provide a platform for research
                    and development in the area of multimedia, immersive design, mixed reality, interactive
                    software and games to develop commercial-viable products with close collaboration with the
                    industry and academia.</span></p>
                <p><strong><span>Aims:</span></strong></p>
                <ul>
                  <li><span></span><span>Build commercial viable digital innovations</span></li>
                  <li><span></span><span>Conduct computing and technology related trainings for professional
                      development</span></li>
                </ul>
                <p><strong><span>Focus Areas (Applications Development):</span></strong></p>
                <ol>
                  <li><span>Games</span></li>
                  <li><span>Interactive Software</span></li>
                  <li><span>Wearable technology</span></li>
                  <li><span>Virtual reality and augmented reality</span></li>
                </ol>
              </td>
            </tr>
            <tr>
              <td>
                <h5><span>Smart and Entrepreneurship Education Research Group</span></h5>
              </td>
              <td>
                <h5><span>Entrepreneurial and Commercialization Support Group</span></h5>
              </td>
            </tr>
            <tr>
              <td>
                <p><img src="../static/assets/img/why-us.png" alt=""
                    width="111" height="144" /></p>
                <p><strong><span>Workgroup leader: Dr Glaret Shirley a/p Sinnappan</span></strong></p>
                <p style="text-align: justify;">Project topics include adaptive learning system that enables
                  learning environment for programming class with adapted materials to learners&rsquo; pace and
                  performance, educational revision quiz games, intelligent classroom system that develop an
                  interactive classroom using Internet of Things technology, Robot Tutor and Mobile. Examples of
                  applications include IELTS Listening Test to allow english listening test to be conducted using
                  a mobile phone, stress detection during e-learning using non-invasive devices.
                  As<span>&nbsp;</span><strong>IBM Technologies Research Group-IBM Centre of Excellence (for
                    Software)</strong>,awarded to the Faculty of Computing and Information Technology since 2011,
                  this research group also aims to nurture specialized human resources to meet the demands of the
                  industries, and to add value to students and lecturers&rsquo; skill-sets via professional
                  development workshops, training and research work.<span><strong></strong></span></p>
                <p><strong><span>Aims:</span></strong></p>
                <ul>
                  <li><span></span><span>Build commercial viable digital innovations.</span></li>
                  <li><span></span><span>Conduct computing and technology related research activities in smart
                      education and entrepreneurship education.</span></li>
                  <li><span></span><span>Conduct trainings and workshops for STEM CS education, innovative or
                      entrepreneurship education development.</span></li>
                </ul>
                <p><strong><span>Focus Area (Research and Development):</span></strong></p>
                <ul>
                  <li><span></span><span>Academic and Smart Education</span></li>
                  <li><span></span><span>Entrepreneurship Education through Smart Campus</span></li>
                  <li><span></span><span>STEM CS Education</span></li>
                </ul>
              </td>
              <td>
                <p><img src="../static/assets/img/why-us.png" alt=""
                    width="109" height="142" /></p>
                <p><strong><span>Workgroup leader: Voo Nyuk Mee</span></strong></p>
                <p style="text-align: justify;"><span>With close collaboration with DIPD, IDIS, SEER, and other
                    Research Centres in the Faculty of&nbsp;</span><span>Computing and Information Technology
                    (FOCS), this support group aims to work together with TAR UMT Centre For Business Incubation
                    And Entrepreneurial Ventures (CBIEV)&nbsp; to commercialize innovative product/platform by
                    tapping on the synergy of academia-industry collaboration; and to provide a base or foundation
                    for possible research work related to viable academic research commercialisation and student
                    entrepreneurship. The working group conducts research on guidelines, best practice, policy,
                    intellectual property protection, industrial funding and licensing, start ups, and any other
                    relevant problems. As&nbsp;<strong>IBM-FASC Entrepreneurial Support Centre</strong>, awarded
                    to FOCS since 2014,this group also aims to incubate innovative ideas using IBM technologies by
                    TAR UMT students, staff, alumni or SME/SMIs and to carry out entrepreneur and incubator
                    programs incorporating IBM Technologies (where appropriate) with the objective of producing
                    technopreneurs.</span></p>
                <p><span>&nbsp;</span></p>
                <p><strong><span>Aims:</span></strong></p>
                <ul>
                  <li><span></span><span>Build entrepreneurial culture among lecturers and students in research
                      and development related to computing and technology</span></li>
                  <li><span></span><span>Conduct related trainings and workshops for technopreneurial development
                      to help promoting digital innovations and creativity to the public.</span></li>
                </ul>
                <p><span>&nbsp;</span></p>
                <p><strong><span>Focus Area (Research and Development):</span></strong></p>
                <ul>
                  <li><strong><span></span></strong>Create entrepreneurship and commercialization platform</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <p></p>
        <h4>v. Achievement in the past 10 years</h4>
        <p><span lang="EN-US">&bull;&nbsp;</span><span>IBM-FASC Entrepreneurial Support Centre by IBM in
            2014</span><span lang="EN-US"><br />&bull;&nbsp;Industry Center of Excellence (ICoE) in ICT cluster in
            2013 by MOHE&nbsp;<br />&bull;&nbsp;The Most Engaged IHL Industry Academia Collaboration 2012 by
            MDeC&nbsp;<br />&bull;&nbsp;IBM Center of Excellence Status for software by IBM in
            2011<br />&bull;&nbsp;TAR UMT as STEM CS Evaluator appointed by Carnegie Mellon Robotics Academy
            (CMRA) in 2017</span><span lang="EN-US"></span><span lang="EN-US"></span></p>
        <h4>vi. Industry-Academic Collaboration</h4>
        <p style="text-align: justify;">Collaboration with companies to provide real life projects for Final Year
          Project from time to time.</p>
        <p style="text-align: justify;"><span lang="EN-US">&bull;&nbsp;MoU between Innotech 360 Sdn Bhd in 2011
            for the collaboration in the area of Virtual Reality project via course assignment</span><span
            lang="EN-US"><br />&bull;&nbsp;MOA signed between TAR UMT and Easyjoy Entertainment Sdn Bhd in 2015 to
            develop Bus Tracking System. Beta Launch of TARC EzRide App in 2017&nbsp;<br />&bull;&nbsp;MOA signed
            among TAR UMT and UMCH Technology Sdn Bhd, SAS Alumni acting through FASC in 2015 to develop Fitness
            App&nbsp;<br />&bull;&nbsp;A consultancy agreement to be signed between TAR UMT and PageJoint to
            develop online commissioning system in 2019</span><span lang="EN-US"><br />&bull;&nbsp;A consultancy
            agreement to be signed between TAR UMT and Cardzone to develop chatbot for online banking system in
            2019</span><span lang="EN-US"><br />&bull;&nbsp;MoU to be signed between TAR UMT and Kian Joo Can
            Factory Berhad to digitise business operations for manufacturing in 2019</span><span
            lang="EN-US"></span><span lang="EN-US"></span></p>
        <h4>vii. Industry-Academic Activities</h4>
        <p style="text-align: justify;"><span lang="EN-US">&bull;&nbsp;Organized<span>&nbsp;</span><strong>FOCS
              Symposium 2018</strong><span>&nbsp;</span>to promote innovation and entrepreneurship among students,
            get students to pitch to the industry. Invited MDEC and Professor Woon-Seng GAN from NTU to conduct a
            sharing session on smart city</span><span
            lang="EN-US"><br />&bull;&nbsp;Organized<span>&nbsp;</span><strong>FOCS Symposium
              2019</strong><span>&nbsp;</span>to conduct forum, showcase digital innovations of students and to
            provide a platform for students to embark on entrepreneurship. Invited MDEC and Huawei to conduct a
            sharing session on how technology driving innovation</span><span
            lang="EN-US"><br />&bull;&nbsp;Co-organized International Conference on Digital Transformation and
            Applications (ICDXA2020) that includes public workshops, digital innovations showcase, industrial
            conference and academic conference</span><span lang="EN-US"></span></p>
        <h4>viii. Start-ups Launching</h4>
        <table style="width: 100%;" height="55">
          <tbody>
            <tr>
              <td style="width: 710px; text-align: justify;">
                <h5 style="text-align: center;"><strong>Boxify</strong></h5>
                <p><strong><img src="https://www.tarc.edu.my/files/tarc/1934EFBE-A8EA-4AB7-A47C-71C61443FECE.jpg"
                      style="display: block; margin-left: auto; margin-right: auto;" /></strong></p>
                <p>On 20 August 2018, staff, students and representatives from the industry witnessed a milestone
                  event at TAR UMT, the launch of Boxify, the very first iSpark entrepreneurial start-up at TAR
                  UMT. Boxify is a project by students of FOCS that attempts to solve problems of goods delivery
                  issues between TAR UMT and business vendors&nbsp;<span lang="EN-US">(reference:&nbsp;<u><a
                        href="https://www.tarc.edu.my/news.jsp?cat_id=56EBCDAD-D3D4-4D3B-8AC4-44CAF115AE1E&fmenuid=63470210-0077-4156-8326-47DE252878A7&news_id=99BADF84-C9EA-470F-AB4C-9EBDFA69681A">
                        https://www.tarc.edu.my/news.jsp?cat_id=56EBCDAD-D3D4-4D3B-8AC4-44CAF115AE1E&fmenuid=63470210-0077-4156-8326-47DE252878A7&news_id=99BADF84-C9EA-470F-AB4C-9EBDFA69681A</a></u>&nbsp;)</span>
                </p>
                <p><span lang="EN-US"></span></p>
              </td>
            </tr>
            <tr>
              <td style="width: 710px;">
                <h5 style="text-align: center;">Cashierbook</h5>
                <p><img src="https://www.tarc.edu.my/files/tarc/5AAC7AC1-AA3E-4DDF-8071-55FE0BE9D013.jpg"
                    style="display: block; margin-left: auto; margin-right: auto;" /></p>
                <p style="text-align: justify;"><span>The app is the latest entrepreneurial idea under
                    CBIEV&rsquo;s iSpark programme and it was launched on 29 August 2018. Cashierbook is a
                    platform which utilises Social Media Analytics and Blockchain technology to enable super-fast
                    and highly secured intelligent e-commerce transactions. The target users for this app are the
                    end consumers as well as retailers who can confidently utilise the Cashierbook platform for
                    genuine and authentic online transactions with added intelligent technologies for a targeted
                    and effective e-commerce experience&nbsp;</span><span lang="EN-US">(reference:<span>&nbsp;</span><u><a
                        href="https://www.tarc.edu.my/news.jsp?cat_id=56EBCDAD-D3D4-4D3B-8AC4-44CAF115AE1E&fmenuid=63470210-0077-4156-8326-47DE252878A7&news_id=10FA2EB0-B329-4881-8C71-52E02C5F8DED">
                        https://www.tarc.edu.my/news.jsp?cat_id=56EBCDAD-D3D4-4D3B-8AC4-44CAF115AE1E&fmenuid=63470210-0077-4156-8326-47DE252878A7&news_id=10FA2EB0-B329-4881-8C71-52E02C5F8DED</a></u></span>)
                </p>
                <p style="text-align: justify;"><span lang="EN-US"><u></u></span></p>
              </td>
            </tr>
            <tr>
              <td style="width: 710px;">
                <h5 style="text-align: center;">Tapfood</h5>
                <p><img src="https://www.tarc.edu.my/files/tarc/3BBFB675-38C7-4800-9098-62672F57F174.JPG"
                    width="540" caption="false" style="display: block; margin-left: auto; margin-right: auto;" />
                </p>
                <p><span>TapFood, which was developed by the Faculty of Computing and Information Technology
                    (&lsquo;FOCS&rsquo;) students Ang Ying Xing, Khor Jun Xian, Goh Yi Xun and Johnson Lim Wei
                    Jun, aims &nbsp;to provide a secure and efficient online platform for ordering food and
                    beverages that will significantly reduce waiting time and simplify the ordering process. Its
                    e-wallet feature allows for a convenient payment system and also provides a seamless
                    transaction tracking system for business vendors. (reference:<a
                      href="https://www.tarc.edu.my/news.jsp?cat_id=56EBCDAD-D3D4-4D3B-8AC4-44CAF115AE1E&fmenuid=63470210-0077-4156-8326-47DE252878A7&news_id=04B12A43-C58E-466C-AB4B-BA4B97423049">
                      https://www.tarc.edu.my/news.jsp?cat_id=56EBCDAD-D3D4-4D3B-8AC4-44CAF115AE1E&fmenuid=63470210-0077-4156-8326-47DE252878A7&news_id=04B12A43-C58E-466C-AB4B-BA4B97423049</a>)&nbsp;</span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- // class sideMenu -->
  </div>
</main>
{%endblock %}