{% extends "base.html" %}
{% block title %}
Centre for Internet of Things
{% endblock %}

{%block content %}
<main>
  <div style="background-image: url('../static/assets/img/Testimonial-bg.jpg'); background-position: top 80%; background-size: cover; width: 100%; height: 150px;">
    <h1 class="position-absolute ml-2" style="margin-top: 50px; color:white; margin-left: 120px;">Research</h1>
  </div>
  <div class="container d-flex flex-column m-auto m-5 p-5">
    <h2 class=' text-center'>Centre for Internet of Things (CIOT)</h2>
    <div class="cell-md-12">
      <div class="list-order">
        <h3 class="shell text-center" style="text-align: center;"></h3>
        <p style="text-align: center;">Led by</p>
        <p style="text-align: center;"><img
            src="../static/assets/img/why-us.png"
            alt="" width="120" height="160" /></p>
        <div style="text-align: center;">Assoc. Prof. Ts. Dr. Tew Yiqi</div>
        <div style="text-align: center;"></div>
        <div style="text-align: center;"><small>Faculty of Computing and Information Technology</small></div>
        <p>Location: Integrated Innovation Hub (I&sup2; Hub), CITC and FOCS Laboratories, Block B, TAR UMT Main Campus</p>
        <p dir="ltr"><span>Collaborated Sites: Ginger Farm, Herbal Farm (FOAS), OMIS Line Laboratories (FOET), TAR UMT Main
            Campus</span></p>
        <h4>i. Objectives</h4>
        <p>Centre for Internet of Things is established as:</p>
        <ul>
          <li>An ecosystem provide a common platform and infrastructure to support academic and research activities.</li>
          <li>A testbed for creative and innovative ideas to be tested and able to provide proof-of-concept.</li>
          <li>Encouraging multidisciplinary teams that leverage unique strengths of different departments, faculties and
            campuses.</li>
          <li>Building high quality education programmes for an emerging sectors and fulfill the industries needs.</li>
          <li>Reinforcing the partnership with local government, private sectors and communities</li>
          <li>An proven model scalable for solving the bigger and more complex societal problems in a city or nation.</li>
        </ul>
        <h4>ii. Vision Statement</h4>
        <p>To build an IoT enabled Smart Campus to improve services, integrate information, enrich teaching and learning.
        </p>
        <h4>iii. Rationale and Research Plan</h4>
        <p>TAR UMT is taking initiative to transform the campus into a smart campus. The smart campus is not only able to
          provide the effective and efficient services, but also able to foster the soft and hard skills of the academics
          and students. There are many projects and activities which need coordination to ensure their successful
          implementation in the smart campus by the Centre for Internet of Things (CIOT).</p>
        <p>The CIOT is responsible to coordinate the smart campus development projects for I&sup2; Hub, campus community,
          administration processes, academic services and applied and fundamental research projects on cyber physical system
          and others related to IoT. CIOT also support the technical aspect of IoT products with potential of
          commercialization.</p>
        <p>The CIOT physical working space will be set up in I&sup2; Hub at Cyber Centre, to accommodate with the IoT
          platform and networking infrastructure for the testing and deployment of products developed by students and
          academics.</p>
        <h4>iv. Research Centre</h4>
        <p>Research Centre Leader &ndash; <i>Assoc. Prof. Ts. Dr. Tew Yiqi</i></p>
        <p><strong></strong></p>
        <p>There are 3 research groups within CIOT:</p>
        <h5>(a) Smart Education System Group</h5>
        <p>Project topics include adaptive learning system that enables learning environment for programming class with
          adapted materials to learners&rsquo; pace and performance, educational revision quiz games, intelligent classroom
          system that develop an interactive classroom using Internet of Things technology, Robot Tutor and Mobile IELTS
          Listening Test to allow english listening test to be conducted using mobile phone.<span><strong></strong></span>
        </p>
        <h5>(b) Intelligent Community Service Group</h5>
        <p>Community services consist of administrative automation system (e.g., online form and report builder, data
          exchanges between online community with authentication), urban mobility improvement (e.g., bus riding system,
          parking space system, drone live monitoring and campus route map), security and emergency response (e.g., virtual
          guard system, panic notification and emergency support system). Besides that, the hospitality and event services
          (e.g., community webcast system, hiring and lodging service system, stuff selling and catering service system,
          chatbot system for community and inquiry purpose) and electronic commerce with payment gateway features are a part
          of community service group.<span><strong></strong></span></p>
        <h5>(c) Infrastructure and Platform Group</h5>
        <p>Several infrastructures are required to facilitate the IOT platform, based on a centralized architecture design.
          Message Queue Transport Telemetry (MQTT) protocol is explored and examined to provide community grouping engine,
          worked with all IOT projects management system. Each of the access to this platform requires registration,
          authentication, continuous software and firmware supports and updates, and visualization via dashboard monitoring
          at I&sup2; Hub.</p>
        <h4>v. Achievement in the past 10 years</h4>
        <p dir="ltr"><span>2022: Advantech AIOT Developer Innoworks Programme (obtained RM10,000 cash prize) with the topic
            on Environmental Education with Autonomous Robot, by Dr Tew Yiqi </span><a
            href="https://www.tarc.edu.my/news.jsp?cat_id=56EBCDAD-D3D4-4D3B-8AC4-44CAF115AE1E&fmenuid=63470210-0077-4156-8326-47DE252878A7&news_id=0E6F0D0E-41E3-4242-91A3-0DB1539021DB"><span>-
              NEWS -</span></a></p>
        <p dir="ltr"><span>2021: Participated in organizing WorldSkillsAsia Online Friendly Skills Games 2021 Cloud
            Computing category, with the support of Jabatan Pembangunan Kemahiran, Kementerian Sumber Manusia, GMCM Sdn Bhd
            and HuaweiCloud Malaysia, by Dr Tew Yiqi.</span><a
            href="https://www.tarc.edu.my/news.jsp?cat_id=56EBCDAD-D3D4-4D3B-8AC4-44CAF115AE1E&fmenuid=63470210-0077-4156-8326-47DE252878A7&news_id=B7488991-E44A-46ED-8A61-A5549FC8BD0B"><span>-
              NEWS -</span></a></p>
        <p dir="ltr"><span>2021: Advantech AIOT Developer Innoworks Programme (obtained RM3,000 cash prize) with the topic
            on Mask Detection, Area Security and Social Distancing, by Dr Tew Yiqi </span><a
            href="https://www.tarc.edu.my/news.jsp?cat_id=56EBCDAD-D3D4-4D3B-8AC4-44CAF115AE1E&fmenuid=63470210-0077-4156-8326-47DE252878A7&news_id=28A833FE-4DDB-4EA9-A0EE-ECF72AEFEA3E"><span>-
              NEWS -</span></a></p>
        <p dir="ltr"><span>2020: Take part in WorldSkills Inter-Universiti Competition 2020 Internet of Things category,
            organized by WorldSkills Russia, supported by Jabatan Pembangunan Kemahiran, Kementerian Sumber Manusia.
          </span><a
            href="https://www.tarc.edu.my/news.jsp?cat_id=56ebcdad-d3d4-4d3b-8ac4-44caf115ae1e&fmenuid=63470210-0077-4156-8326-47de252878a7&news_id=B96E4196-7339-49C1-8549-82FA77E072AC"><span>-
              NEWS -</span></a></p>
        <p dir="ltr"><span>2020: Advantech AIOT Developer Innoworks Programme (obtained RM5,000 cash prize) with the topic
            on Agricultural and Environment Monitoring by Dr Tew Yiqi </span><a
            href="https://www.tarc.edu.my/news.jsp?cat_id=56EBCDAD-D3D4-4D3B-8AC4-44CAF115AE1E&fmenuid=63470210-0077-4156-8326-47DE252878A7&news_id=083B0285-0C1D-43F8-8C22-165BA76149D2"><span>-
              NEWS -</span></a><span>&nbsp;</span><a
            href="https://connect.advantech.com/videos/details/advantech-esg-story%EF%BC%8Dcultivating-aiot-talent-through-innoworks"><span>-
              VIDEOS -</span></a></p>
        <p dir="ltr"><span>2020: Automated and Intelligent Farming through Cloud Based Integrated Agricultural Solution
            (Obtained RM47,200) by Dr Ng Yen Phing</span></p>
        <p dir="ltr"><span>2019: Visualization toolkits development (obtained RM 96,250 from Asia Roofing Industries Sdn
            Bhd) by Dr Wong Thein Lai</span></p>
        <p dir="ltr"><span>2018: Participation in WorldSkillsAsean 2018, Bangkok, Thailand on the Internet of Things
            category, supported by Jabatan Pembangunan Kemahiran, Kementerian Sumber Manusia. </span><a
            href="https://www.tarc.edu.my/focs/news.jsp?cat_id=8A4F53DC-6047-461B-9A26-1CBAF3DEE153&fmenuid=6425D81D-D6EC-4154-89E0-EB8F755EF868&news_id=4C2AB35F-00D4-492E-AFB6-9B89C1529646"><span>-
              NEWS -</span></a></p>
        <p dir="ltr"><span>2018: Take part in Internet of Things Training, WenZhou, China by ZheJiang Yalong Educational
            Equipment Joint-Stock Co.Ltd. Participated by Dr Tew Yiqi and Mr Chan Choon Kit. </span><a
            href="https://www.tarc.edu.my/focs/news.jsp?cat_id=8A4F53DC-6047-461B-9A26-1CBAF3DEE153&fmenuid=ECF20A18-1334-4E97-87EE-27C0ED671DA8&news_id=4AAB6F2F-297F-4077-9B79-F554249F960C"><span>-
              NEWS -</span></a></p>
        <p dir="ltr"><span>2018: </span><span>Collaborate with the industries and all faculties of TAR UMT to develop
            applications that are going to be hosted by I&sup2; Hub, which is the heart of all the integrated innovation
            projects and the projection of the visualization of data via dashboards.</span></p>
        <p dir="ltr"><span>2018: Launch of I&sup2; Hub on 1st Aug 2018, showcasing the existing research and industrial
            projects related to Internet of Things. <a
              href="https://www.tarc.edu.my/news.jsp?cat_id=56EBCDAD-D3D4-4D3B-8AC4-44CAF115AE1E&fmenuid=63470210-0077-4156-8326-47DE252878A7&news_id=322E7E53-C0DD-4B68-9156-FAB28608D6F2">-
              NEWS - </a></span><span> </span><a
            href="https://www.tarc.edu.my/news.jsp?cat_id=56EBCDAD-D3D4-4D3B-8AC4-44CAF115AE1E&fmenuid=63470210-0077-4156-8326-47DE252878A7&news_id=322E7E53-C0DD-4B68-9156-FAB28608D6F2"><span>
              <new></new>
            </span></a></p>
        <h4>vi. Research and Development Projects</h4>
        <p dir="ltr"><span>The centre groups support other university college initiatives, namely:</span></p>
        <ul>
          <li dir="ltr" aria-level="1">
            <h5 dir="ltr" role="presentation"><span>Smart Campus and Education</span></h5>
          </li>
        </ul>
        <p dir="ltr"><span>- Collaboration in between Computing and Information Technology Faculty, Communication and
            Information Technology Centre and various departments at TAR UMT to provide use cases and test bed environment
            for IoT facilities in campus.</span></p>
        <p dir="ltr"><span>Smart Classroom:&nbsp; <a href="https://sites.google.com/tarc.edu.my/focs-cci-class/iot">- GOOGLE
              SITES -</a></span><a href="https://sites.google.com/tarc.edu.my/focs-cci-class/iot"><span></span></a></p>
        <p dir="ltr"><span>Face Mask and Social Distancing: </span><a
            href="https://sites.google.com/tarc.edu.my/focs-cci-class/face-mask-social-distance">- GOOGLE SITES -</a></p>
        <ul>
          <li dir="ltr" aria-level="1">
            <h5 dir="ltr" role="presentation"><span>Smart Agricultural</span></h5>
          </li>
        </ul>
        <p dir="ltr"><span>- Collaboration in between Computing and Information Technology, Applied Science, Engineering and
            Technology faculties to set up intelligent farming at TAR UMT two farm sites: Ginger Farm and Herbal
            Farm.</span></p>
        <p dir="ltr"><span>Herbal and Ginger Farm Sites: </span><a
            href="https://sites.google.com/tarc.edu.my/focs-ciot-farm">- GOOGLE SITES -</a></p>
        <ul>
          <li dir="ltr" aria-level="1">
            <h5 dir="ltr" role="presentation"><span>Smart Manufacturing&nbsp;</span></h5>
          </li>
        </ul>
        <p dir="ltr"><span>- Collaboration with industrial partners, with the support of postgraduate students team and
            Engineering faculty on assisting local company and establishing Industry 4.0
            implementation.</span><span>&nbsp;</span></p>
        <p dir="ltr"><span>Data Channeling: </span><a href="https://sites.google.com/tarc.edu.my/focs-ciot-data">- GOOGLE
            SITES -</a></p>
        <p dir="ltr"><span>Augmented Reality in Manufacturing Line: <a
              href="https://sites.google.com/tarc.edu.my/focs-cci-hevc/augmented-reality">- GOOGLE SITES -</a></span></p>
        <hr />
        <p dir="ltr"><span></span></p>
        <p dir="ltr"><strong><span style="color: #0000ff;">Environmental Sustainability Publications</span></strong></p>
        <p dir="ltr"><span>1. TEW YIQI.&nbsp;Robotic Delivery System for Multi-Storey Condominium Complexes. SDG11</span>
        </p>
        <p dir="ltr"><span>2. TEW YIQI.&nbsp;Interactive Dashboard with Visual Sensing and Fast Reactivity. SDG11</span></p>
        <p dir="ltr"><span></span></p>
        <hr />
        <p dir="ltr"></p>
      </div>
    </div>
  </div>
</main>
{%endblock %}