{% extends "base.html"%}
{% block title %} Home {% endblock %}
{%block content %}
  <!-- ======= Hero Section ======= -->
  

  <main id="hero">

    <div class="hero-container container d-flex flex-column ">
      <div class="row ">
        <div class="col-2 ">
          <p>Why Choose Us</p>
        </div>
        <div class="col-2 ">
          <p>Why Choose Us</p>
        </div>
        <div class="col-2 ">
          <p>Why Choose Us</p>
        </div>
        <div class="col-2 ">
          <p>Why Choose Us</p>
        </div>
        <div class="col-2 ">
          <p>Why Choose Us</p>
        </div>
        <div class="col-2 ">
          <p>Why Choose Us</p>
        </div>
      </div>
      
    </div>
   

  </main><!-- End #main -->
  {% endblock %}