{% extends "base.html"%}
{% block title %} Live Support {% endblock %}
{%block content %}
<style>
    #form-background {
        background: url("{{url_for('static', filename='assets/img/bg2.jpg')}}") no-repeat;
        background-size: cover;
    }

    #enquiryForm {
        background-color: rgba(204, 204, 204, 0.953);
        border-radius: 5px;
    }

    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        text-align: center;
    }

    .popup-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<!-- ======= Main Section ======= -->
<main>
    <div id="form-background" class="d-flex justify-content-center w-75 p-5 m-auto ">
        
        <form id="enquiryForm" method="POST" action="/process_request" class="p-5 w-75">
            <div>
                <h3 class="text-center">Enquiry Portal</h3>
            </div>
            {% if not status %}
            <div class="form-group mb-3">
                <label for="inputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Enter name"
                    required>
            </div>
            <div class="form-group mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Enter email"
                    required>
            </div>
            <div class="form-group mb-3">
                <label for="inputTitle" class="form-label">Email Title</label>
                <input class="form-control" id="inputTitle" name="inputTitle" placeholder="Enter Title" required>
            </div>
            <div class="form-group mb-3">
                <label for="inputRequest" class="form-label">Enquiry</label>
                <textarea class="form-control" id="inputRequest" name="inputRequest" rows="2"
                    placeholder="Describe your enquiry here" style="max-height: 100px;" required></textarea>
            </div>
            <div class="form-check mb-3 d-flex justify-content-center">
                <input type="checkbox" class="form-check-input" id="checkAgree" required>
                <label class="form-check-label" for="checkAgree">&nbsp;I agree to share these details for enquiry
                    purpose</label>
            </div>
            <div class="d-flex justify-content-center">
                <button id="submitBtn" type="submit" class="btn btn-primary">Send Enquiry</button>
            </div>
            {% else %}
            <div class="form-group mb-3">
                <label class="form-label">Enquiry Submitted</label>
                <!--input type="text" class="form-control" id="inputName" name="inputName" placeholder="Enter name"
                    required-->
            </div>
            {% endif %}
        </form>
    </div>
   
</main>

<!-- End #main -->
{% endblock %}