{% extends "base.html"%}
{% block title %} programme {% endblock %}
{%block content %}
<style>
        /* Example 2: Background image with specific position and size */
        .custom-position-size {
            background-image: url('../static/assets/img/programmePic.jpg');
             /* Set a specific size for the background image */
             background-size: cover;
            background-position: 0vh 80vh; /* Set a specific position (20px from left, 50px from top) */
            height: 20vh;
        }
        .col img {
          margin: 0%;
          padding: 0%;
        }
        .square-icon {
            position: absolute;
            left: -30px; /* Adjust the position of the square icon */
            top: 0;
            width: 20px;
            height: 20px;
            background-color: #007bff; /* Change the square color as desired */
        }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="custom-position-size " >
      <div class="m-5 text-light"><h1>Programmes</h1></div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <div class="justify-content-center"><h1>Programmes</h1></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="../static/assets/img/programme1.jpg" class="img-fluid">
    </div>
    <div class="col">
      <img src="../static/assets/img/programme2.jpg" class="img-fluid">
    </div>
  </div>

  <div class="row">
    <div class="">
      <ul class="nav justify-content-center nav-tabs nav-justified">
        <li class="nav-item"><a class="nav-link" href="#"><div class="">Doctor of Philosophy</div></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><div class="">Master Degree</div></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><div class="">Bachelor</div></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><div class="">Diploma</div></a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}