d{% extends "base.html"%} {% block title %} Home {% endblock %} {%block content
%}
<!-- ======= Hero Section ======= -->

<main>
  <div class="container mt-5">
    <h3> {{results}} Results Found For: "{{programmeName}}"</h3>
  </div>

  <div class="container">
    <hr />

    {% for programme in searchProgramme %}
    <div class="container">
      <h3><a href="{{ url_for('programme1',id=programme.progId)}}">{{programme.progName}}</a></h3>
      <a href="{{ url_for('programme1',id=programme.progId)}}">{{programme.progName}}</a>
      <p>{{programme.progOverview}}</p>
      <hr />
    </div>
  {% endfor %}
   
</div>

</main>
<!-- End #main -->
{% endblock %}
