{% extends "base.html"%} {% block title %} Staff Directory {% endblock %}
{%block content %}

<div
  class="container-fluid text-center text-white d-flex align-items-center"
  style="
    background-image: url(../static/assets/img/header-image.jpg);
    background-position: center 80%;
    background-size: cover;
    height: auto;
    width: 100%;
  "
>
  <div class="container-fluid justify-content-center">
    <h1>Staff Directory</h1>
  </div>
</div>

<section class="mt-5 mb-5 container-fluid">
  <div class="text pt-5 text-center">
    <h2>Staff Directory</h2>
  </div>
  <div class="row">
    <div class="col-md-8">
        
    </div>
    <div class="col-md-4">

    </div>
  </div>
</section>
{%endblock %}
